/* Body Font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* Decoration Font */
@font-face{
    font-family: 'Pesta';
    src: url("fonts/PestaTahunBaru.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Zephiroth';
    src: url("fonts/Zephiroth.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Selector Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}
/* Desplazamiento Suave */
html{
    scroll-behavior: smooth;
}
/* Selección de Texto */
::selection{
    background-color: rgba(255, 69, 0, 0.31);
}
/* Barra de Desplazamiento */
::-webkit-scrollbar{
    width: 10px;
    background-color: #F3EED9;/*
    background-color: rgba(118, 118, 118, 0.68);*/
}
::-webkit-scrollbar-thumb{
    background-color: #510000;
    border-radius: 6px;
}

/* Barra de Navegación */
.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 27px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}
/* Delimitador para el contenido */
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 80px;
    background-position: center;
    background-image: url("img/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Menu Contraído */
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

/* Enlaces de Barra de Navegación */
.navbar-menu a{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    transition: .2s linear;
}
.navbar-menu a:hover{
    padding: 2px;
    border-bottom: 2px solid #f1f1f1;
}

/* Enlace de la Barra de Navegación Activo */
.navbar-menu .selected{
    border-bottom: 2px solid #f1f1f1;
}

/*Posicionamiento fijo de la barra de navegación y cambio de color*/
.sticky{
    background-color: rgb(111, 0, 22);
    padding: 18px 0;
    box-shadow: 0 5px 10px rgba(0,0,0, .30);
}

.sticky .navbar-menu a{
    color: #f1f1f1;
}

.sticky .menu-toggler span{
    background-color: #f1f1f1;
}


/* 
Inicio INDEX.HTML 
*/
/* Sección de pantalla completa */
#home{
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 75%), url("./img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#home .content{
    width: 100%;
    color: #f1f1f1;
}

#home .content h1{
    font-family: 'Pesta', sans-serif;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 300;
}

#home .content p{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

/* Sección # 1 */
section{
    padding: 60px 40px;
    background-color: #f1f1f1;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    font-size: 28px;
    padding-bottom: 30px;
    color: #1F1F1F;
    font-weight: bold;
}

/* Separador del Título */
.section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #1F1F1F;
    bottom: 0;
    left: calc(50% - 40px);
}
.section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #F85C52;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}

/* Estilo de Texto para citas */
.date{
    text-align: center;
    margin-bottom: 30px;
    color: #1F1F1F;
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
}

/* Contenido de Izquierda y derecha */
.about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.left{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin-right: 60px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.30);
}

.rigth{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin-left: 60px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.30);
    cursor: pointer;
    overflow: hidden;
}

.rigth video{
    width: 100%;
    height: 100%;
    outline: none;
    transition: .2s linear;
}
.rigth video:hover{
    transform: scale(1.1);
}

.about-text{
    flex: 1;
}

.about-text h2{
    font-size: 26px;
    color: #1F1F1F;
    font-weight: 700;
}

.about-text p{
    font-size: 18px;
    text-align: justify;
    font-weight: normal;
    line-height: 26px;
    margin-top: 20px;
    color: #1F1F1F;
}

section.map{
    width: 100%;
}

section.map iframe{
    width: 100%;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.40);
}

/* Barra Separadora */
section.dark{
    background-color: #1F1F1F;
    padding: 30px 10px;
}
section.dark .section-title{
    color: #fafafa;
    font-weight: 400;
}
section.dark .section-title::before{
    background-color: #f1f1f1;
}
section.dark .section-title::after{
    border: 4px solid #1F1F1F;
}

/* Sección Negra */
.dark-box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*background-color: #F3EED9;*/
}
/* Contenido*/
.dbox{
    width: calc(33% - 20px);
    text-align: center;
    margin: 10px 0;
    padding: 20px 20px;
}

.dbox a{
    color: #f1f1f1;
    font-size: 18px;
    transition: .2s linear;
    font-weight: normal;
    transition: .2s linear;
}

.dbox a:hover{
    text-shadow: 0 0px 10px rgba(255, 254, 254, 0.5);
    /*border-bottom: 2px solid #1F1F1F;*/
}
/* 
FIN INDEX.HTML
*/


/* 
INICIO ABOUT.HTML 
*/

/* Línea de Tiempo */
.time-line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block{
    width: calc(50% - 20px);
    background-color: #FFFEFE;
    border: 1px dashed #1F1F1F;
    border-radius: 4px;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}

.block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: rgba(31, 31, 31, 0.70);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #6F0016;
    left: -20px;
    top: 30px;
    border-radius: 50%;
}

/* Fecha: */
.block h4{
    font-size: 17px;
    color: #1f1f1f;
    font-weight: 700;
}
/* Título de la sección */
.block h3{
    font-size: 16px;
    margin: 10px 0;
    color: #1F1F1F;
    font-weight: 400;
    text-decoration: underline;
}
/* Contenido de la sección */
.block p{
    font-size: 15px;
    color: #1f1f1f;
}

/* 
========================================== 
Sección Himno ColPilar
========================================== 
*/
.strophes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.strophe {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px dashed #F3EED9;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px 20px;
}

.player {
    width: calc(33% - 20px);
    text-align: center;
    margin: 20px 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.player audio{
    outline: none;
}

.player audio::-webkit-media-controls-enclosure{
    background: #f1f1f1;
    border-radius: 6px;
}

.strophe h4, .player h4{
    font-family: 'Zephiroth', sans-serif;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 6px;
    color: #f1f1f1;
    text-decoration: underline;
}

.strophe p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 6px;
    color: #f1f1f1;
    font-style: italic;
    line-height: 26px;
}

/* Símbolos Institucionales */
.simbols {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.simbol {
    width: 400px;
    text-align: center;
    border: 2px dashed #6F0016;
    border-radius: 6px;
    margin: 10px 0;
    color: #1F1F1F;
    transition: .2s linear;
}
.simbol:hover{
    transform: scale(1.1);
}

.simbol img{
    width: 100%;
    height: 350px;
    border-radius: 6px 6px 0 0;
    border-bottom: 2px dashed #6f0016;
    margin-bottom: 6px;
    object-fit: fill;
}

.simbol h2{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    color: #1F1F1F;
}

.simbol p{
    font-size: 17px;
    text-align: center;
    line-height: 26px;
    padding: 15px;
    color: #1F1F1F;
}



/* Pie de Página */
footer{

    background: #fdf6f6 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23E6E6E6' fill-opacity='0.15' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-repeat: repeat;
    padding: 15px 0;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:  50px;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 15px 0;
}

.footer-links ul{
    margin: 0 auto;
    list-style: none;
}

.footer-links ul h3{
    color: #1F1F1F;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0px;
}

.footer-links ul p{
    color: #1F1F1F;
    font-size: 15px;
    line-height: 200%;
    font-weight: 400;
}

.footer-links ul li{
    margin: 10px 0px;
    color: #1f1f1f;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
}

.footer-links ul li a{
    color: #1F1F1F;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
}
.footer-links ul li a:hover{
    text-shadow: 0 5px 3px rgba(111, 0, 22, 0.9);
}

.footer-links ul li i{
    color: #1F1F1F;
    font-size: 17px;
    margin-right: 15px;
}

/* CopyRigth */
.copyright{
    padding: 20px 0px;
    background-color: #1F1F1F;
    color: #FFFEFE;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}

.copyright a{
    font-size: 16px;
    color: #FFFEFE;
    font-weight: 300;
    opacity: .8;
}
.copyright a:hover{
    font-weight: 400;
    opacity: 1;
}

/* Botón Arriba*/
.goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: #6f0016;
    border: solid 2px #F85C52;
    border-radius: 50px;
    cursor: pointer;
    color: #FFFEFE;
    outline: none;
    display: none;
}
.goTop:hover{
    background-color: #8E232B;
}

.contact-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    grid-column: auto;
}

.contact-info .item{
    width: calc(33% - 20px);
    height: 180px;
    background-color: #574143;
    color: #f1f1f1;
    text-align: center;
    border-radius: 4px;
    transition: .3s linear;
}

.contact-info i{
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item p{
    padding: 5px;
}
.contact-info .item:hover{
    background-color: #F85C52;
}

/* Media Querys*/

@media screen and (max-width: 900px){
  
    .menu-toggler{
    display: block;
  }

  .navbar-menu{
    text-align: center;
    position: fixed;
    height: 50%;
    width: 50%;
    background-color: #6F0016;
    opacity: 0.8;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 50px;
    border: 2px solid #F85C52;
    transition: .3s linear;
  }

  .navbar-menu a{
    opacity: 100%;
    display: block;
    font-size: 17px;
    margin: 20px 0;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
        max-width: 800px;
    }
    
    .left{
        margin: 0 auto 60px;
    }
    
    .rigth{
        margin: 60px auto 0;
    }
    
    .about-text{
        flex: 100%;
        text-align: center;
    }
    
    .strophe, .player{
        width: calc(50% - 20px);
    }
    
    .block{
        width: calc(100% - 20px);
        margin-left: auto;
    }
    
    .work{
        width: calc(50% - 10px);
    }
    
    .contact-info .item{
        width: 100%;
        margin: 10px 0;
    }
}


@media screen and (max-width: 500px){
    
    .inner-width{
        padding: 0 20px;
    }
    
    .skill{
        width: 100%;
    }
    
    .service{
        width: 100%;
    }
    
    .work{
        width: 100%;
    }
}



